In [10]:
import pandas as pd

#emmissions data into dictionary 
data={'Low Altitude': [1.50, 1.48, 2.98, 1.40, 3.12, 0.25, 6.73, 5.30, 9.30, 6.96, 7.21, 0.87, 1.06, 7.39, 1.37], 
            'High Altitude': [7.59, 2.06, 8.86, 8.67, 5.61, 6.28, 4.04, 4.40, 9.52, 1.50, 6.07, 17.11, 3.57, 2.68, 6.46]}  

#convert emissions data to dataframe
emissions = pd.DataFrame(data)

#specify name of excel file
excel_file = 'emissions_from_pandas.xlsx'

#specify excel sheet name
sheetName= 'Particulate matter (PM) emissions'

#exporting as an excel file: do i have to assign this as a variable?
emissions.to_excel(excel_file,  index=False)

print("Emissions exported to 'emissions_from_pandas.xls' successfully")

Emissions exported to 'emissions_from_pandas.xls' successfully

   Low Altitude  High Altitude
2          2.98           8.86
3          1.40           8.67

In [11]:
emissions.head()

   Low Altitude  High Altitude
0          1.50           7.59
1          1.48           2.06
2          2.98           8.86
3          1.40           8.67
4          3.12           5.61

In [13]:
#returns the first value in the data set in the array position 0,0
emissions.iloc[0,0]

1.5

In [14]:
#returns the value in the 1,1 position
emissions.iloc[1,1]

2.06

In [15]:
emissions.iloc[0:2,0:2]

   Low Altitude  High Altitude
0          1.50           7.59
1          1.48           2.06

In [16]:
#returns the set of values 
emissions.iloc[2:4,:]

   Low Altitude  High Altitude
2          2.98           8.86
3          1.40           8.67